@import 'https://fonts.googleapis.com/css?family=Muli';
@import 'https://fonts.googleapis.com/css?family=Euphoria+Script';
html,
body {
  width: 100%;
}
/* Wrapping element */
.body-content {
  margin-top: 56.9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Euphoria Script', cursive !important;
}
* {
  font-family: 'Muli', sans-serif;
}
nav.bg-faded {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}
nav.topnav ul {
  display: inline-block;
}
nav.topnav li {
  font-weight: 600;
  font-size: 1.1em;
}
nav.topnav li a {
  -webkit-transition: color ease-in-out 100ms;
  -moz-transition: color ease-in-out 100ms;
  -o-transition: color ease-in-out 100ms;
  transition: color ease-in-out 100ms;
}
.section-wrapper {
  border-bottom: 1px solid #f1f1f1;
}
.section-wrapper.first {
  background-color: #444;
  background: -webkit-linear-gradient(top, rgba(69, 69, 69, 0.25), rgba(0, 0, 0, 0.75)), url('../img/bg6.jpg');
  background: -moz-linear-gradient(top, rgba(69, 69, 69, 0.25), rgba(0, 0, 0, 0.75)), url('../img/bg6.jpg');
  background: -ms-linear-gradient(top, rgba(69, 69, 69, 0.25), rgba(0, 0, 0, 0.75)), url('../img/bg6.jpg');
  background: -o-linear-gradient(top, rgba(69, 69, 69, 0.25), rgba(0, 0, 0, 0.75)), url('../img/bg6.jpg');
  background: linear-gradient(top, rgba(69, 69, 69, 0.25), rgba(0, 0, 0, 0.75)), url('../img/bg6.jpg');
  background-position-y: center;
  background-size: cover;
}
.section-wrapper.first .container-wrapper {
  padding: 10rem 0;
}
.section-wrapper.offwhite {
  background: #f7f7f7;
}
.section-wrapper.darkgrey {
  background: #333;
}
.section-wrapper.darkgrey h1,
.section-wrapper.darkgrey h2,
.section-wrapper.darkgrey h3,
.section-wrapper.darkgrey h4,
.section-wrapper.darkgrey h5,
.section-wrapper.darkgrey h6,
.section-wrapper.darkgrey p,
.section-wrapper.darkgrey a,
.section-wrapper.darkgrey span,
.section-wrapper.darkgrey div {
  color: #868686;
}
.section-wrapper .container-wrapper {
  padding: 3rem 0;
}
.section-wrapper .hero * {
  font-family: 'Euphoria Script', cursive;
  text-align: center;
}
.section-wrapper .hero * h1 {
  font-size: 6em;
  font-weight: 600;
}
.section-wrapper .hero * h2 {
  font-size: 3.25em;
}
.section-wrapper .hero * h3 {
  font-size: 2em;
}
.section-wrapper .hero * h1,
.section-wrapper .hero * h2,
.section-wrapper .hero * h3 {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(50, 50, 50, 0.7);
}
.section-wrapper h1 {
  font-size: 3em;
  font-weight: bold;
}
.section-wrapper .img-thumbnail {
  border-radius: 0px;
}
.section-wrapper p.lead {
  font-weight: 600;
}
.section-wrapper .row {
  margin: 25px 15px;
}
.section-wrapper a {
  color: #B68EC5;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.section-wrapper a:hover {
  color: #8B9476;
  text-decoration: none;
}
.section-wrapper:last-child {
  border-bottom: none;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .open > .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #B68EC5 !important;
}
@media (max-width: 800px) {
  .section-wrapper.first {
    background-position-x: center;
  }
}
